:root {
    --verde-jade: #008571;
    --marron-claro: #C9A66B;
    --crema: #F5F1E8;
}

body {
    margin: 0px;
}

header {
    background-color: var(--verde-jade);
    text-align: center;
    padding: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

main {
    background-color: var(--crema);
    padding: 2px;
}

footer {
    background-color: var(--marron-claro);
    padding: 15px;
    text-align: center;
}
.introduccion {
    text-align: center;         /* Centra el texto en la pantalla */
    max-width: 700px;           /* Evita que se estire demasiado a lo ancho */
    margin: 30px auto;          /* Lo separa del título de arriba y de las tarjetas de abajo */
    font-size: 1.15rem;         /* Hace la letra un poquito más grande y legible */
    color: #444;                /* Un color gris oscuro elegante, más suave que el negro */
    line-height: 1.6;           /* Le da espacio entre líneas para que sea cómodo de leer */
}
